*{
    margin :0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1{
  color: royalblue;
}

nav{
  display: flex;
  background-color: rgb(27, 216, 200);
}


nav > ul {
  display: flex;
}

nav > ul > li, nav a{
  color:whitesmoke;
  padding: 0 15px;
 
}

#menu-button{
    display: none;
    font-size: 40px;
    color: white;
}

a{
  font-size: 30px;
}
/*Ctrl + f5 */
/* hot reload : recharge le style css sur la page */

@media (max-width:600px){
   

    nav>ul{
        flex-direction: column;
        position: absolute;
        background-color: rgb(27, 216, 200);
        top: 50px;
        min-width: 50%;
        min-height: 100vh;
        left: -100%;
        transition: all 0.3s ease-in-out;
    }
     
    #menu-button{
      display: block;
      font-size: 35px;
        color: white;
    }
}

